* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    background-color: rgb(22, 23, 23);
}

/* header start */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px 20px;
}

.header-icon-link {
    display: flex;
    margin-right: 70px;
}

.portfolio-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: all 1s;
}
.portfolio-icon:hover{
    transform: rotate(360deg);
}
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    transition: all .5s;
}

.nav-link:hover {
    opacity: .5;
}

.header-btn {
    margin-left: auto;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-family: sans-serif;
    font-style: 16px;
    font-weight: 600;
    transition: all .5s;
}

.header-btn:hover {
    background-color: transparent;
    color: whitesmoke;
}

/* header end */
/* hero start */
.hero {
    padding-top: 70px;
    padding-bottom: 50px;
}

.hero-container {
    padding: 0px 20px 0px 20px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    /* font-family: Sora, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 1px;
    background: linear-gradient(134deg, #3BF686 40.75%, #4CA9FF 90.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 72px;
    color: whitesmoke;
}

.hero-right {
    display: flex;
}

.hero-right-img {
    width: 200px;
    height: 200px;
}

/* hero end */
/* project strat */
.projects {
    padding-top: 50px;
    padding-bottom: 35px;
}

.projects-container {
    padding: 0px 20px 0px 20px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projects-title {
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: whitesmoke;
    margin-bottom: 40px;
}

.projects-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.project-link {
    display: flex;
    overflow: hidden;
    position: relative;
}

.clock-div {
    position: absolute;
    left: -475px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 400;
    transition: all .5s;
    text-transform: capitalize;
}

.clock-div-right {
    position: absolute;
    right: -475px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 400;
    transition: all .5s;
    text-transform: capitalize;
}
.project-link:hover .clock-div {
    left: 0;
    transition: all .5s;
}

.project-link:hover .clock-div-right {
    right: 0;
    transition: all .5s;
}

.project-img {
    display: block;
    height: 250px;
    width: 100%;
}

.see-more {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    border: 2px solid whitesmoke;
    transition: all .5s;
}

.see-more:hover {
    background-color: transparent;
    color: whitesmoke;
}

/* project end */
/* footer start */
.footer {
    padding-top: 35px;
    padding-bottom: 20px;
}

.footer-container {
    padding: 0px 20px 0px 20px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-networks-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link {
    display: flex;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: all .3s;
}

.social-icon:hover {
    transform: translate(0px, -10px);
}
/* footer end */
/* hidden connect */
.hidden-connect {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 90%;
    z-index: 11;
}
.none{
    display: none;
}
.hidden-connect-container{
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1111;
}
.bg-del{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: transparent;
}
form{
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.connect-input {
    height: 35px;
    padding-left: 15px;
    outline: none;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
}
.send-btn{
    margin-top: 10px;
    width: 70px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: whitesmoke;
    margin-bottom: 15px;
}
.arrow{
    width: 50px;
    height: 50px;
    transition: all 1s;
}
.see-more-arrow{
    display: block;
    text-decoration: none;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    border: 2px solid whitesmoke;
    transition: all .5s;
}
.height-more{
    max-width: 1054px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
}
.project-box-img{
    overflow: hidden;
    height: 550px;
    transition: all 1s;
}
.project-height-1100px{
    height: 1155px;
    transition: all 1s;
}
.arrow-active{
    transform: rotate(180deg);
    transition: all 1s;
}